section {
  width: 100%;
}

.home_main {
  max-width: 80%;
  padding-top: 2rem;
  margin: auto;
  display: flex;
  gap: 3rem;
}

.home_main .left_part {
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  overflow: hidden;
  flex-basis: 50%;
}

.home_main .left_part img {
  width: 100%;
  height: 100%;
}

.home_main .left_part img:hover {
  scale: 1.2;
  transition: 0.2s linear;
}

.home_main .right_part {
  flex-basis: 100%;
}

.home_main .right_part img {
  width: 100%;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  overflow: hidden;
}

.home_main .right_part p {
  padding-bottom: 1rem;
  line-height: 1.6rem;
  color: brown;
}

.home_part {
  max-width: 80%;
  display: flex;
  gap: 3rem;
}

.thirdsection h3,
.fourthsection h3 {
  text-align: center;
  margin-top: 2rem;
  font-size: 25px;
  color: gray;
}

.fourthsection .borders {
  padding-bottom: 2rem;
  border-bottom: 3px solid lightgrey;
}

.home-section-imageclass {
  width: 50vw;
}

@media (max-width: 768px) {
  .home_main {
    flex-direction: column;
    max-width: 90%;
  }
}
