.swiper {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.swiper-slide {
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide img:hover {
  scale: 1.2;
  transition: 0.2s linear;
}

.headline {
  color: black;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #fff;
}
