/* @import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 0px;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-color: grey;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.slide-image {
  position: relative;
}

.card {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}

.card h4 {
  color: white;
  position: absolute;
  bottom: 2.5rem;
  left: 2rem;
  font-family: "Inconsolata", monospace;
}

.card h5 {
  color: white;
  position: absolute;
  bottom: 0.8rem;
  left: 2rem;
  font-family: "Inconsolata", monospace;
}

@media (max-width: 768px) {
  .swiper {
    height: 70%;
    padding-bottom: 3rem;
  }
} */
