.people_main {
  max-width: 80%;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: flex;
  gap: 3rem;
}

.people_main > * {
  flex-basis: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.7);
}

.people_main .right_item h4,
.people_main .left_item h4 {
  text-align: center;
  color: gray;
  line-height: 2rem;
  font-weight: 600;
}

.people_main .left_item h3,
.people_main .right_item h3 {
  text-align: center;
  color: gray;
  line-height: 3rem;
  font-weight: 800;
}

.people_main .right_item img,
.people_main .left_item img {
  width: 100%;
}

.people_main .left_item img:hover,
.people_main .right_item img:hover {
  scale: 1.05;
  transition: 0.3s linear;
}

.last-section h3 {
  text-align: center;
  color: gray;
  font-weight: 800;
  font-size: 25px;
}

@media (max-width: 768px) {
  .people_main {
    flex-direction: column;
  }
}
